<div class="row">
  <div class="col-xs-12">
    <!-- <img src="" alt="" class="img-responsive"> -->
    <img
    [src]="recipe.imagePath"
    alt="{{ recipe.name }}" 
    class="img-responsive"
    style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- <h1>Recipe Name</h1> -->
    <h1>{{ recipe.name }}</h1> <!-- this name comes from recipe-detail.comp ts 
    and will never show undefined because this is just added to the DOM if ngIf returns true.-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Description -->
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
