<div class="row">
  <div class="col-md-5">
    <!-- listen the eventemitter (recipeWasSelected) and store this recipe on the selectedRecipe here 
    the dollar sign refers to the data we pass with the event -->
    <app-recipe-list
    (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <!-- show only if we receive selectedRecipe. when starts it's undefined, in this ts is just
    initiated undefinded, which is false, and if is not set we show a dummy text with ng template,
    and ng template will recipe a local reference #infoText -->
    <app-recipe-detail
    *ngIf="selectedRecipe; else infoText"
    [recipe]="selectedRecipe"></app-recipe-detail> <!-- passe the recipe clicked -->
    <ng-template #infoText> 
      <p>Please select a Recipe</p>
    </ng-template>
  </div>
</div>
