<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- the [recipe] referes to the input at recipe-item component ts -->
    <!-- recipeEl inside onRecipeSelected(recipeEL) passes the selected recipe for ngFor -->
    <app-recipe-item 
    *ngFor="let recipeEl of recipes"
    [recipe]="recipeEl"
    (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item> 
  </div>
</div>

